[submodule "BeetleBot"]
	path = bots/BeetleBot
	url = https://github.com/VEEROBOT/BeetleBot.git
[submodule "jetbot"]
	path = bots/jetbot
	url = https://github.com/NVIDIA-AI-IOT/jetbot.git
[submodule "acrux"]
	path = bots/acrux
	url = https://github.com/VEEROBOT/acrux.git
[submodule "wolf"]
	path = bots/wolf
	url = https://github.com/VEEROBOT/wolf.git
[submodule "rhino"]
	path = bots/rhino
	url = https://github.com/VEEROBOT/rhino.git
